$color-white: #ededed;
$color-white-dark:#d9d9d9;
$color-black: #0c0c0c;
$color-bk-dark: #070D1D;
$color-gray-dark: #444444;
$color-orange: #F04823;
$color-gray-light:#878787;
$color-green:#5fb637;
$color-purple: rgb(128, 45, 128);
$color-red: #C22831;
$color-blue: #084cab;
$color-fuchsia: #AB0839;

$font: 'Poppins';